.visually-hidden {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  .wrapper {
    background-color: aquamarine;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
    
  .none {
    display: none;
  }